<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781092010313-l0o3e4011turfo060f18gjindj8oskkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781092010313-l0o3e4011turfo060f18gjindj8oskkr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvQDQyr9caAkiWqsXOYtjEk4xUPG9Luio</string>
	<key>GCM_SENDER_ID</key>
	<string>781092010313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egoist.kuest</string>
	<key>PROJECT_ID</key>
	<string>kuest-1a932</string>
	<key>STORAGE_BUCKET</key>
	<string>kuest-1a932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781092010313:ios:679d223f51f2ad2df60298</string>
</dict>
</plist>